.App {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.Top_main_title {
    top: 50%;
    left: 50%;
    font-family: Saira;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 100px;
    align-items: center;
    text-align: center;
    color: #000000;
    height : 100px;
}

.Navibar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: absolute;
    left: 2.78%;
    right: 2.78%;
    top: 10%;
    bottom: 84%;

    background: #061178;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px 26px 10px 10px;

    display: flex;
    justify-content: space-evenly;
    z-index: 1;
}
.Navibar_menu {
    color : white;
}
.main-background {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 0px 43px;

    position: static;
    width: 100%;
    height: 1049px;
    left: 0px;
    top: 219px;

    filter: drop-shadow(4px 4px 7px rgba(0, 0, 0, 0.4));
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 40px 0px;
    background: #F5F5F5;
}

.container {
    background : white;
    width : 100%;
    height : 545px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap : 10px;
    margin-top : 65px;


}
/*
.main {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-height: 600px;
  overflow-y: auto;
  border: 1px solid #ededed;
  border-radius: 8px;
  box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.2);
  padding: 0.8rem;
}
*/
.item {
  border-radius: 4px;
  border: 1px solid #ededed;
  padding: 1rem;
}

.input-area {
  padding: 1.4rem 0;
}

.list {
  display: grid;
  grid-template-rows: auto;
  row-gap: 1rem;
}
